Servicio2_Noticias/resources/Noticia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Noticia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://Noticia" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Noticia">
<xs:element name="getDescripcion">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
<xs:element name="getDescripcionResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="setDescripcion">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="setTitular">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="titular" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="setUrl">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getUrl">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
<xs:element name="getUrlResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getTitular">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
<xs:element name="getTitularResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="setUrlRequest">
    <wsdl:part name="parameters" element="ns:setUrl">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUrlRequest">
    <wsdl:part name="parameters" element="ns:getUrl">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDescripcionRequest">
    <wsdl:part name="parameters" element="ns:getDescripcion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTitularRequest">
    <wsdl:part name="parameters" element="ns:getTitular">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDescripcionRequest">
    <wsdl:part name="parameters" element="ns:setDescripcion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDescripcionResponse">
    <wsdl:part name="parameters" element="ns:getDescripcionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setTitularRequest">
    <wsdl:part name="parameters" element="ns:setTitular">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTitularResponse">
    <wsdl:part name="parameters" element="ns:getTitularResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUrlResponse">
    <wsdl:part name="parameters" element="ns:getUrlResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NoticiaPortType">
    <wsdl:operation name="setUrl">
      <wsdl:input message="ns:setUrlRequest" wsaw:Action="urn:setUrl">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getUrl">
      <wsdl:input message="ns:getUrlRequest" wsaw:Action="urn:getUrl">
    </wsdl:input>
      <wsdl:output message="ns:getUrlResponse" wsaw:Action="urn:getUrlResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDescripcion">
      <wsdl:input message="ns:getDescripcionRequest" wsaw:Action="urn:getDescripcion">
    </wsdl:input>
      <wsdl:output message="ns:getDescripcionResponse" wsaw:Action="urn:getDescripcionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTitular">
      <wsdl:input message="ns:setTitularRequest" wsaw:Action="urn:setTitular">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getTitular">
      <wsdl:input message="ns:getTitularRequest" wsaw:Action="urn:getTitular">
    </wsdl:input>
      <wsdl:output message="ns:getTitularResponse" wsaw:Action="urn:getTitularResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDescripcion">
      <wsdl:input message="ns:setDescripcionRequest" wsaw:Action="urn:setDescripcion">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NoticiaHttpBinding" type="ns:NoticiaPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="setUrl">
      <http:operation location="setUrl"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getDescripcion">
      <http:operation location="getDescripcion"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUrl">
      <http:operation location="getUrl"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTitular">
      <http:operation location="setTitular"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getTitular">
      <http:operation location="getTitular"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDescripcion">
      <http:operation location="setDescripcion"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NoticiaSoap11Binding" type="ns:NoticiaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setUrl">
      <soap:operation soapAction="urn:setUrl" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getDescripcion">
      <soap:operation soapAction="urn:getDescripcion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUrl">
      <soap:operation soapAction="urn:getUrl" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTitular">
      <soap:operation soapAction="urn:setTitular" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getTitular">
      <soap:operation soapAction="urn:getTitular" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDescripcion">
      <soap:operation soapAction="urn:setDescripcion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NoticiaSoap12Binding" type="ns:NoticiaPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setUrl">
      <soap12:operation soapAction="urn:setUrl" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getDescripcion">
      <soap12:operation soapAction="urn:getDescripcion" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUrl">
      <soap12:operation soapAction="urn:getUrl" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTitular">
      <soap12:operation soapAction="urn:setTitular" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getTitular">
      <soap12:operation soapAction="urn:getTitular" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDescripcion">
      <soap12:operation soapAction="urn:setDescripcion" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Noticia">
    <wsdl:port name="NoticiaHttpSoap12Endpoint" binding="ns:NoticiaSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/Noticia"/>
    </wsdl:port>
    <wsdl:port name="NoticiaHttpSoap11Endpoint" binding="ns:NoticiaSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/Noticia"/>
    </wsdl:port>
    <wsdl:port name="NoticiaHttpEndpoint" binding="ns:NoticiaHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/Noticia"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
