Servicio3_IMC/imc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://IMC" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://IMC">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://IMC">
            <xs:element name="getImc">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="peso" nillable="true" type="xs:float"/>
                        <xs:element minOccurs="1" name="altura" nillable="true" type="xs:float"/>
                        <xs:element minOccurs="1" name="nombre" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="1" name="fecha" nillable="true"  type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getImcResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="getImcRequest">
        <wsdl:part name="parameters" element="ns:getImc"/>
    </wsdl:message>
    <wsdl:message name="getImcResponse">
        <wsdl:part name="parameters" element="ns:getImcResponse"/>
    </wsdl:message>

    <wsdl:portType name="ImcPortType">
        <wsdl:operation name="getImc">
            <wsdl:input message="ns:getImcRequest" wsaw:Action="urn:getImc"/>
            <wsdl:output message="ns:getImcResponse" wsaw:Action="urn:getImcResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ImcSoap11Binding" type="ns:ImcPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getImc">
            <soap:operation soapAction="urn:getImc" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ImcSoap12Binding" type="ns:ImcPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getImc">
            <soap12:operation soapAction="urn:getImc" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ImcHttpBinding" type="ns:ImcPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getImc">
            <http:operation location="/axis2/services/IMC/getImc"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="IMC">
        <wsdl:port name="ImcHttpSoap11Endpoint" binding="ns:ImcSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/IMC"/>
        </wsdl:port>
        <wsdl:port name="ImcHttpSoap12Endpoint" binding="ns:ImcSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/IMC"/>
        </wsdl:port>
        <wsdl:port name="ImcHttpEndpoint" binding="ns:ImcHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/IMC"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
